body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    background-color: #f2f6c1;
}

h1 {
    color: #333;
}

#itemList {
    list-style: none;
    padding: 0;
}

#itemList li {
    background:#fff;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}